* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 6px;
    text-shadow: red 0 0, cyan 0 0;
    transition: 200ms;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text:hover {
    text-shadow: red -6px 0, cyan 6px 0;
}